<div id="home">
  <div id="search_area">
    <div id="callout">
      Find a place to rent
    </div>
    <p><a id="coverage_link" href="#">Rent from {number} places in {number} cities</a></p>
    <div align="center">
    <% form_tag rooms_path , :method=>"get"  do %>
      <div id="search_bar">
        <%if params[:search]==nil%>
          <%@value = "Where do you want to rent?"%>
        <%else%> 
          <%@value = params[:search]%>
        <% end %>
        <%=text_field_tag :search, @value, :id=>"location", :class=>"rounded_left"%>
        <%= submit_tag 'Search', :name => nil, :id=> "submit_location", :class=>"v3_button v3_fixed_width"%>
      </div>
    <% end %>
    </div>
  </div>
</div>

