<div id="home">
  <div id="search_area">
    <div id="callout">
      File a place to rent
    </div>
    <p>
        <a id="coverage_link" href="#">Rent from XXX places in XXX cities</a>
    </p>
    
  </div>
</div>
